<h2>Please fill out the form below:</h2>

<form name="input" action="/events/create" method="post">
	Organizer name: <input type="text" name="event[organizer_name]" placeholder="Lindsey Sugino"><br>
	Organizer e-mail: <input type="text" name="event[organizer_email]" placeholder="Lindsey@gmail.com"></br>
	Event title: <input type="text" name="event[title]" placeholder="LindseyFest 2011"><br>
	Event date: <input type="text" name="event[date]" placeholder="2013-11-13"><br>

	<input type="submit" value="Submit">
</form>